.container {
  background: rgb(254, 254, 254);
  background: radial-gradient(
    circle,
    rgba(254, 254, 254, 1) 39%,
    rgba(243, 250, 255, 0.8) 100%
  );
  width: 55%;
  padding: 0 10px;
}
.container_dark {
  background-color: rgb(33, 33, 33);
  width: 55%;
  padding: 0 10px;
  color: white;
}
.container_dark input {
  color: #b8b8b8;
}

.start_page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start_page h3 {
  background-color: rgba(232, 232, 232, 0.65);
  padding: 10px 20px;
  border-radius: 50px;
  color: #3c3f41;
}
.header {
  text-align: center;
  padding: 15px 5px;
  height: 10%;
  border-bottom: 1px solid #dbe4f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__loading {
  text-align: center;
  padding: 15px 5px;
  height: 10%;
  border-bottom: 1px solid #dbe4f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80%;
  padding: 20px 10px;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
}
.message__info {
  background-color: rgba(215, 215, 215, 0.55);
  width: 300px;
  text-align: center;
  margin: 10px auto 20px auto;
  border-radius: 50px;
  padding: 10px 15px;
}
.incoming {
  background-color: rgba(217, 59, 92, 0.88);
  color: white;
  padding: 10px 15px;
  margin: 0 auto 20px 0;
  border-radius: 15px 15px 15px 0;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.outgoing {
  max-width: 90%;
  word-break: break-all;
  border-radius: 15px 15px 0 15px;
  background-color: rgba(60, 79, 222, 0.85);
  color: white;
  margin: 0 0 20px auto;
  padding: 10px 15px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.outgoing .message {
  margin-right: 10px;
}
.incoming .message {
  margin-left: 10px;
}
.outgoing ul,
.incoming ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.outgoing ul li,
.incoming ul li {
  padding: 0;
  margin: 0;
}
.incoming ul {
  position: absolute;
  left: 0;
  color: white;
  display: none;
}
.outgoing ul {
  display: none;
  position: absolute;
  right: 0;
  color: white;
}
.outgoing:hover ul,
.incoming:hover ul {
  display: block;
}

.outgoing ul li.dropdownBtn,
.incoming ul li.dropdownBtn {
  display: none;
  margin: 3px 0px 0 5px;
}
.outgoing ul:hover li.dropdownBtn,
.incoming ul:hover li.dropdownBtn {
  display: block;
}

.input__block {
  display: flex;
  height: 10%;
  padding: 10px 20px;
  border-top: 1px solid #dbe4f1;
  justify-content: space-between;
}

.input__message {
  flex: 1;
  margin-right: 20px;
  height: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(60, 63, 65, 0.4);
}

.input__file {
  height: 100%;
  width: 5%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #3c3f41;
}
.message__time_checked {
  display: flex;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}
.message__checked span {
  font-size: 12px;
  margin-right: 10px;
}
.outgoing .message__time_checked {
  margin-left: 0;
}

.header_loader__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 14px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header_search__block {
  display: flex;
  align-items: center;
  width: 200px;
}
.header_search__block input {
  outline: none;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 5px 5px;
  background-color: transparent;
}
.header_search__block button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #717374;
  font-size: 20px;
}
.toggle__block button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #717374;
  font-size: 20px;
}
.header_name__block {
  padding-left: 10%;
  display: flex;
  align-items: center;
  font-weight: bold;
  flex: 1;
}

.header_name__online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #57d062;
  margin-left: 10px;
}
.toggle_theme__block {
}
.toggle_theme {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: #717374;
  font-size: 20px;
}
