.container {
  width: 20%;
  padding: 20px 15px;
}

.info {
  margin: auto;
  width: 60%;
  padding-top: 20px;
}
.icon {
  width: 60px;
  height: 60px;
  margin: auto;
  background-color: grey;
  border-radius: 30px;
}
.name {
  padding-top: 20px;
  text-align: center;
}
.username {
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  color: grey;
}
.icons {
  margin: auto;
  width: 80%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.connection {
  width: 10px;
}
.social {
  width: 95%;
  margin: auto;
  height: 100px;
  margin-top: 50px;
}
.socialBlock {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius: 2px;
  margin-bottom: 40px;
}
.media {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
}
.mediaImages {
  width: 15px;
  display: flex;
  align-items: center;
}
.mediaUsername {
  padding-left: 5px;
  font-size: 14px;
}
.mediaBlock {
  width: 100%;
  background-color: white;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.desktop {
  width: 40px;
  height: 40px;
  background-color: #c1d5ff;
  border-radius: 5px;
}
.desktopText {
  padding-left: 5px;
  font-size: 14px;
}

/*** Стили для темной темы ***/

.container_dark {
  background-color: #2d2d2d;
  color: white;
  width: 20%;
  padding: 20px 15px;
}
.mediaBlock_dark {
  width: 100%;
  background-color: #474747;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.socialBlock_dark {
  width: 100%;
  background-color: #474747;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
  border-radius: 2px;
  margin-bottom: 40px;
}
.spin {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 60px;
  position: relative;
  margin: auto;
  height: 60px;
  border-radius: 100px;
  background-image: linear-gradient(
          109.5deg,
          rgba(76, 221, 242, 1) 11.2%,
          rgba(92, 121, 255, 1) 91.1%
  );
}
.avatar p {
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 60px;
  font-weight: 300;
}
.online {
  background-color: #0ff80f;
  width: 13px;
  height: 13px;
  border-radius: 100px;
  position: absolute;
  right: 5px;
  top: 0;
}

/*** конец стилей для темной темы ***/