* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/** CSS transition **/

.input_btn.enter-active {
  transform: scale(0);
  transition: 100ms;
}
.input_btn.exit-active {
  transform: scale(0);
  transition: 100ms;
}
