.container {
  width: 25%;
  box-sizing: border-box;
  background-color: #eeeeee;
  position: relative;
}

.contacts {
  border-bottom: 1px solid rgba(211, 211, 211, 0.42);
}

ul {
  padding: 0;
  margin-top: 60px;
}

li {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.input {
  width: 24%;
  height: 45px;
  position: fixed;
  top: 8px;
  left: 10px;
  z-index: 999;
  outline: none;
  border-radius: 8px;
  border: none;
  text-align: center;
}

.reset {
  z-index: 1000;
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.name {
  font-weight: bold;
  margin-bottom: 10px;
}

.messages {
  font-size: 14px;
  font-weight: 300;
}

.selected {
  background-color: rgba(60, 79, 222, 0.95);
  width: 100%;
  color: white;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.selected a {
  color: white;
}

.main_contact {
  overflow-y: scroll;
  height: 100%;
}


.info_block {
  margin-left: 20px;
  margin-top: 5px;
  max-width: 220px; /*** добавил от себя свойство @Курбан ***/
}

.time {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 14px;
}

/*** стили для темной темы ***/
.container_dark {
  width: 25%;
  box-sizing: border-box;
  background-color: #2d2d2d;
  position: relative;
  color: white;
}
.contacts_dark {
  border-bottom: 1px solid #454545;
}
a.link_dark {
  color: #ffffff;
  text-decoration: none;
}
/*** конец стилей для темной темы ***/

/*CТИЛИ ДЛЯ ПРЕЛОАДЕРА*/

.preloader_name {
  padding-left: 300px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.preloader_div {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 1920px) {
  .preloader_name {
    padding-left: 300px;
  }
}

@media only screen and (max-width: 1600px) {
  .preloader_name {
    padding-left: 260px;
  }
}

@media only screen and (max-width: 1500px) {
  .preloader_name {
    padding-left: 230px;
  }
}

@media only screen and (max-width: 1200px) {
  input {
    margin-left: -5px;
  }

  .preloader_div {
    margin-left: 10px;
  }
  .preloader_name {
    padding-left: 190px;
  }
}
